html, body{
	scroll-behavior: smooth;
	font-family: 'Kanit', sans-serif;
	background: #fff;
	color: yellow!important;
}

.textcolor {
		color: yellow!important;		
}

.mb-0 .textcolor {
		background-color: #263238;
}


.fullsize{
	height: 100vh;
	width: : 100vw;
}

nav img {
	max-height: 50px;
}

div img {
	max-height: 968px;
}

.zeromargin{
	margin: 0;
	padding: 0;
}

.getbgcolor {
	background-color: #263238;
}

.bordered {
	border: 2px #263238!important;
}

.space {
	min-height: 50px;
}

.mynavbar-color {
	background-color: transparent;
	box-shadow: none;
	text-decoration-color: yellow;
}



.top-nav-collapse {
	background-color: #263238;
}

/*.navbar-expand-lg {
background-color: #263238;
}*/

.carousel .carousel-indicators li {
	width: 3rem;
	height: 1rem;
	border-radius: 0;
	margin-right: 1.5rem;
	border: 2px solid white;
}

.carousel .carousel-indicators .active {
/*	border: 2px #F4DC8F;
	background-color: #F1D373;*/
}

.blue{
	background-color: blue;
}

.red{
	background-color: red;
}

.alert {
	display: none;
}

nav{
	z-index: 5001;
}

.carousel-control-prev:hover{
	background-image: linear-gradient(to left, transparent, #263238)
}
.carousel-control-next:hover{
	background-image: linear-gradient(to right, transparent, #263238)
}

.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
	width: 80px;
	height: 80px;
}

.modal {
	z-index: 6000;
}
